<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTRE ENSALADA DE FRUTAS</title>
    <link rel="stylesheet" href="../css/stylo.css">
</head>
<body><H1 id="titulo">ensalada de frutas riquisimas</H1>
    <h2 class="subtitulos">muchas felicidades y bienvenido a la preparacion de una rica ensalada de frutas</h2>
    <img src="../img/ensalada de frutas1.jfif" alt="" height="200" width="500"  >
    <h3 class="subtitulos">ingredientes</h3>
    <hr>
    <ul><li>un mango</li>
    <li>cinco kiwi</li>
<li>250grm. de fresas frescas</li>
<li>125grm. de arandanos</li>
<li>4 o 5 bananas</li>
<li>3 cucharadas de miel de abejas jugo de limon</li></ul>
<iframe width="500" height="200" src="https://www.youtube.com/embed/yI1y6PDBCak" title="👏🥭La más exquisita ensalada de frutas. ¡Refrescante y deliciosa! 😋" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h3 class="subtitulos">modo de preparacion</h3>
<hr>
<ol><li>para esta receta nesesitamos un mango le quitamos su cascara lo cortamos en rodajas</li>
<li>luego tomamos 5 kiwis pelamos y cortamos en cubos pequeños</li>
<li>ahora 250 grm. de fresas frescas las labamos y desinfectamos</li>
<li>tomamos los 125grm. de arandanos los lavamos muy bien lo ponemos en un resipiente con agu y 1/4 de taza de vinagre blanco dejamos durante 10 minutos y de esta manera lo desinfectaremos</li>
<li>por ulltimo tomamos las bananas las cortamos en rodajas y colocamos todo dentro de un recipiente</li>
<li>como adereso agregamos el jugo de 2 limones y 3 cucharadas de miel de abeja</li></ol>
<h2 class="subtitulos">¡¡exelente ya puedes disfrutar de una deliciosa ensalada de frutas!!</h2>
<a href="../../index.html">volver a pagina principal</a>
</body>
</html>