<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>potrero digital g.rodriguez juan ricardo torres</title>
    <link rel="stylesheet" href="../css/stylo.css">
</head>
<body><h1 id="titulo">bienvenido a la receta completa de milanesas de carne argentinas</h1>
    <h2 class="subtitulos">como preparar milanesas en casa</h2>
    <img src="../img/milanesas con papas fritas.jfif" alt="" height="200"  width="500" >
    <h3 class="subtitulos">ingredientes</h3></a>
    <ul><li>carne para milanesas</li>
    <li>2 huevos</li>
<li>ajo perejil o provenzal</li>
<li>panrallado y aceite</li></ul>
<iframe width="500" height="200" src="https://www.youtube.com/embed/fJN8Pb8bN7Y" title="🔴COMO HACER MILANESA DE CARNE CASERA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h3 class="subtitulos">modo de preparacion</h3>
<hr>
<ol><li>en un bowl batimos 2 huevos</li>
<li>lavamos el perejil cortamos junto con el ajo y colocamos todo dentro del bowl ,revolvemos</li>
<li>tomamos la carne agregamos sal a gusto mesclamos todo dejando reposar 10 minutitos</li>
<li>luego empanamos (pasar por panrallado) ahora ya estan listas para fritar</li>
<li>calentamos el aceite a fuego lento en un colador colocamos 2 servilletas</li>
<li>fritamos la primera y apenas se empiece a dorar retiramos al colador 5 minutos despues listas para emplatar</li></ol>
  <h2 class="subtitulos">¡¡¡felicidades hiciste tus primeras milanesas argentinas!!!</h2>  
  <a href="../../index.html">volver a pagina principal</a>
</body>
</html>